body{
    background-color:#f4d09a;
    text-align: center;
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: italic;
    display: flex;
    flex-direction: column;
 }
    
header {
   margin-top: 25px;
   margin-bottom: 10px;
   margin-left: 200px;
   background-color: #e6d1b2;
    margin-right: 200px;
    border-radius: 20px;
   
  }
#logo {
  position: relative;
  right: 555px;
  top: 5px
}
#theoffice {
  position: relative;
  top: -10px;

  
}
#video1{
  border-radius: 5px;
  margin-top: 10px;
}
 main {
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    background-color:#e6d1b2;
    margin-left: 200px;
    margin-right: 200px;
    flex: 1;
      }
    
.fondo.texto li{
        font-family: "Bevan", serif;
        font-weight: 400;
        font-style: normal;
        margin-top: 40px;
      margin-left: 100px;
      margin-right: 100px;
       margin-bottom: 40px;
       
      }
.cajas ul{ 
  width: 30vw;
  height: 20vh;
  margin: 5%; 
  height: max-content;
  padding: auto;
  box-sizing: content-box;
  margin-top: 40px;
  background-color: #8b4b4b;
  display: inline-block;
  right: -255px;
  border-radius: 10px;
  color:white ;
  font-size: 25px;
  list-style: none;
}
.texto {
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: content-box;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
  font-size: 20px;
  img{
    margin-top: 40px;
    margin-bottom: 40px;
  }
}   
.info.temporadas {
  font-size: 20px;
}
a{
  color: aliceblue;
}
a:visited {
  color: #f4d09a;
}
a:hover{
  color: #f3a7a7;
}
a:active {
  color: #8b4b4b;
}
footer ul{
  background-color: #8b4b4b;
  color: black;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.texto li{
  margin-top: 20px;
  list-style: none;
  display: inline-block;
}
.volver{ 
  background-color: #8b4b4b;
}

      

      
